.container {
  width: 50rem;
  height: 90vh;
  padding: 2rem;
  background-color: rgba(223, 223, 223, 0.747);
}

.buttons {
  margin-left: 2rem;
}

.form-header {
  margin-bottom: 1rem;
  display: flex;
  justify-content: space-between;
}

.form-header h1::after {
  content: '';
  display: block;
  width: 5rem;
  height: 0.3rem;
  background-color: #6c63ff;
  margin: 0 auto;
  position: absolute;
  border-radius: 10px;
}

.form-div{
  max-width: 50rem;
}

.tilte {
  margin-right: 2rem;
}
.close-button {
  display: flex;
  align-items: center;
  justify-content: center;
}

.close-button button {
  border: none;
  background-color: #6c63ff;
  padding: 0.5rem 0.9rem;
  border-radius: 20px;
  cursor: pointer;
}

.close-button button:hover {
  background-color: #6b63fff1;
}

.close-button button a {
  text-decoration: none;
  font-weight: 500;
  color: #fff;
}

.input-box input {
  margin: 0.6rem 0;
  padding: 0.8rem 1.2rem;
  border: none;
  border-radius: 10px;
  box-shadow: 1px 1px 6px #0000001c;
  font-size: 0.8rem;
}

.input-box input:hover {
  background-color: #eeeeee75;
}

.input-box input:focus-visible {
  outline: 1px solid #6c63ff;
}

.input-box label {
  font-size: 1rem;
  font-weight: 600;
  color: #000000c0;
}

.input-box input::placeholder {
  color: #000000be;
}

.btn {
  background-color: #6c63ff;
  color: #fff;
}
.chart-container {
  background-color: #F8F9FA;
  border-radius: 8px;
}

.margin-button{
  margin-bottom: 2rem;
}

.estados{
  margin-bottom: 7.5px;
}


----------------


.chart-container {
  background-color: #F8F9FA;
  border-radius: 8px;
}

.last-order {
  background-color: #F8F9FA;
  border-radius: 8px;
}

.cardd {
  width: 400px;
  height: 200px;
  background-color: #F8F9FA;
  border-radius: 8px;
  border-left: 8px #a776eb solid;
}

.btn-primary {
  background-color: #4E46B4;
  color: #F8F9FA;
}


h4 {
  color: #212529;
  font-weight: 700;
}

p {
  color: #343A40;
}

.quarter-circle-top-right {
  margin-top: 0;
  width: 105px;
  height: 100px;
  background: #4d46b446;
  border-radius: 0 0 0 100px;
  -moz-border-radius: 0 0 0 100px;
  -webkit-border-radius: 0 0 0 100px;
  position: absolute;
}



.costumerProfile {
  width: 50px;
  height: 50px;
  border-radius: 100%;
  background-color: #CFCEE9;
  font-weight: 800;
  color: #4E46B4;
  overflow: hidden;
}

agm-map {
  height: 400px;
}


.container {
  padding-top: 2rem;
}

.sub-header {
  display: flex;
  justify-content: space-between;
}

.client {
  font-weight: 700;
}

.tableContainer {
  width: 100%;
  overflow: hidden;
  border-radius: 0.5rem;
}

.subContainer {
  width: 100%;
  overflow-x: auto;
  border-radius: 1px;
}

.table {
  width: 100%;
  white-space: nowrap;
  border-collapse: collapse;
}

thead {
  color: #000;
  letter-spacing: 0.025em;
  text-transform: uppercase;
  text-align: left;
  font-weight: 600;
  background-color: rgba(78, 70, 180, 0.12);
}

td {
  padding-left: 1rem;
  padding-right: 1rem;
  padding-top: 0.75rem;
  padding-bottom: 0.75rem;
}

tr {
  border-bottom-width: 1px;
}

.id-object {
  font-weight: 600;
  margin: 0;
}

.tabbleFooter {
  color: #000;
  padding-left: 1rem;
  padding-right: 1rem;
  padding-bottom: 0.75rem;
  background-color: rgba(78, 70, 180, 0.12);
  line-height: 1.5;
}

nav ul {
  align-items: center;
  display: inline-flex;
  list-style: none;
  margin: 0;
  padding: 0;
}

.janela{
  width: 50rem;
}
