<div class="col-8 janela">
  <div class="chart-container px-5 py-4">
      <agm-map
        [latitude]="storeLatNum "
        [longitude]="storeLngNum"
        [zoom]="18"
        [disableDefaultUI]="false">

          <agm-marker
            [latitude]="storeLatNum"
            [longitude]="storeLngNum"
            [label]="storeName">

                <agm-info-window>
                    <strong>
                      <b>Nome: {{store.nome}}</b> <br>
                      Endereço: {{store.logradouro}}, {{store.numero}} <br>
                      Cidade/UF: {{store.cidade}}, {{store.estado}}<br>
                      CEP: {{store.cep}}<br>
                      Latitude: {{store.latitude}}<br>
                      Longitude: {{store.longitude}}
                    </strong><br />
                </agm-info-window>

          </agm-marker>

      </agm-map>
  </div>
</div>
