<div class="container">
  <form class="row g-3 form-div">
    <div class="form-header">
      <div class="title">
        <h1>Nova Loja</h1>
      </div>
      <div class="close-button" (click)="closeDialog()">
        <button>
          <fa-icon class="icon" [icon]="faXmark" size="lg"></fa-icon>
        </button>
      </div>
    </div>

    <div class="col-md-4">
      <label for="nome" class="form-label">Nome *</label>
      <input type="text" class="form-control" [(ngModel)]="store.nome" name="nome">
    </div>
    <div class="col-md-4">
      <label for="observacao" class="form-label">Observação</label>
      <input type="text" class="form-control" [(ngModel)]="store.observacao" name="observacao">
    </div>
    <div class="col-md-4">
      <label for="cep" class="form-label">CEP *</label>
      <input type="text" (focusout)="buscarCep()" class="form-control" id="cep-loja" name="cep-loja"
        placeholder="Digite seu CEP - 00000-000" [(ngModel)]="store.cep">
    </div>
    <!--<div class="mt-2">
                <button class="btn btn-primary" type="button" (click)="buscarCep()">Buscar CEP</button>
            </div> -->
    <div class="col-md-4">
      <label for="logradouro" class="form-label">Logradouro *</label>
      <input type="text" class="form-control" id="logradouro-loja" name="logradouro-loja"
        [(ngModel)]="store.logradouro">
    </div>
    <div class="col-md-4">
      <label for="numero" class="form-label">Número *</label>
      <input type="text" class="form-control" id="numero-loja" name="numero-loja" placeholder="Número"
        [(ngModel)]="store.numero">
    </div>
    <div class="col-md-4">
      <label for="complemento" class="form-label">Complemento</label>
      <input type="text" class="form-control" id="complemento-loja" name="complemento-loja" placeholder="Ex: Apt. 52"
        [(ngModel)]="store.complemento">
    </div>
    <div class="col-md-4">
      <label for="cidade" class="form-label">Cidade *</label>
      <input type="text" class="form-control" id="cidade-loja" name="cidade-loja" [(ngModel)]="store.cidade">
    </div>
    <div class="col-md-4">
      <label for="bairro" class="form-label">Bairro *</label>
      <input type="text" class="form-control" id="bairro-loja" name="bairro-loja" [(ngModel)]="store.bairro">
    </div>
    <div class="col-md-2">
      <label for="listagem-estado" class="estados">Estado *</label>
      <select class="form-control" id="listagem-estado" name="listagem-estado" [(ngModel)]="store.estado">
        <option *ngFor="let estado of estados" id="{{estado.id}}"> {{estado.sigla}} </option>
      </select>
    </div>
    <div class="col-md-4">
      <label for="Latitude" class="form-label">Latitude *</label>
      <input type="text" class="form-control" [(ngModel)]="store.latitude" name="latitude">
    </div>
    <div class="col-md-4">
      <label for="Longitude" class="form-label">Longitude *</label>
      <input type="text" class="form-control" [(ngModel)]="store.longitude" name="longitude">
    </div>
    <!-- <div class="row">
      <h3>Localização da Loja</h3>
      <hr>
    </div> -->
    <div class="col-8">
      <div class="chart-container px-5 py-4">
        <agm-map
          [latitude]="latNumber"
          [longitude]="lngNumber"
          [zoom]="18"
          [disableDefaultUI]="false">

            <agm-marker
              [latitude]="latNumber"
              [longitude]="lngNumber"
              [label]="store.nome">

                  <agm-info-window>
                      <strong>
                          <b>Nome: {{store.nome}}</b> <br>
                          Endereço: {{store.logradouro}} <br>
                          Cidade/UF: {{store.cidade}}/{{store.estado}}<br>
                      </strong><br />
                  </agm-info-window>

            </agm-marker>

        </agm-map>
    </div>
  </div>

    <div class="col-12 margin-button">
      <button class="btn btn-primary" type="button" (click)="create()">Adicionar Loja</button>
      <label for="campos" style="margin-left: 1rem;" class="form-label"><b>Todos os campos com * são obrigatórios</b></label>
      
      <!-- <button class="btn btn-primary" type="button" (click)="save()">Salvar Alteracao</button> -->
    </div>
  </form>

</div>
