<div class="container">
  <div class="sub-header">
    <h1 class="client">Produtos</h1>
    <button class="btn btn-primary" (click)="openDialogForm()">
      <fa-icon class="icon" [icon]="faCirclePlus" size="lg"></fa-icon>
      Adicionar Produto
    </button>
  </div>
  <br>
  <br>
  <br>

  <div class="tableContainer">
    <div class="subContainer">
      <table class="table">
        <thead>
          <tr>
            <td>Nome</td>
            <td>Descrição</td>
            <td>Valor(R$)</td>
            <td>Quant. em estoque </td>
            <td>Ações</td>
          </tr>
        </thead>
        <tbody *ngFor="let product of products">
          <tr>
            <td>
              <div>
                <div>
                  <p class="id-object" style="max-width: 150px;">{{product.nome}}</p>
                </div>
              </div>
            </td>
            <td>
              <span class="d-inline-block text-truncate" style="max-width: 3500px;">{{product.descricao}}</span>
            </td>
            <td>
              <span>{{product.valor | currency}}</span>
            </td>
            <td>
              <span>{{product.qtdEstoque}}</span>
            </td>
            <td>
              <div class="icon-actions">
                <div (click)="openUpdateForm(product)" title="Abrir tela de edição do produto">
                  <fa-icon [icon]="faPenToSquare" size="lg"></fa-icon>
                </div>
                <div (click)="delete(product.id)" title="Excluir produto">
                  <fa-icon class="icon" [icon]="faTrashCan" size="lg"></fa-icon>
                </div>
              </div>

            </td>
          </tr>
        </tbody>
      </table>

      <div class="tabbleFooter">
        <nav class="mt">
          <ul class="pagination justify-content-center" style="align-items:baseline;">
            <li class="page-item">
              <a class="page-link" style="cursor: pointer;" (click)="previousPage()">Anterior</a>
            </li>
            <li class="page-item" *ngFor="let page of pages">
              <p class="page-link">{{page}}</p>
            </li>
            <li class="page-item">
              <a class="page-link" style="cursor: pointer;" (click)="nextPage()">Proxima</a>
            </li>
          </ul>
        </nav>
      </div>
      
    </div>  
  </div>
</div>

