<div class="container MT-5">
  <div class="sub-header">
    <h1 class="client">Clientes</h1>
    <button class="btn btn-primary" (click)="openDialogForm()">
      <fa-icon class="icon" [icon]="faCirclePlus" size="lg"></fa-icon>
      Adicionar cliente
    </button>
  </div>

  <span class="strong">
    Total: {{clientObserver.clientQty}}
  </span>
  <br>
  <br>
  <br>

  <div class="tableContainer">
    <div class="subContainer">
      <table class="table">
        <thead>
          <tr>
            <td>Nome</td>
            <td>E-mail</td>
            <td>CPF</td>
            <td>Endereço</td>
            <td>Cidade</td>
            <td>Estado</td>
            <td>Ações</td>
          </tr>
        </thead>
        <tbody *ngFor="let client of clients|slice:start:end">
          <tr>
            <td>
              <div>
                <div>
                  <p class="id-object">{{client.nome}}</p>
                </div>
              </div>
            </td>
            <td>
              <span>{{client.email}}</span>
            </td>
            <td>
              <span>{{client.cpf | cpfFormat}}</span>
            </td>
            <td>
              <span>{{client.logradouro}}, {{client.numero}}</span>
            </td>
            <td>
              <span>{{client.cidade}}</span>
            </td>
            <td>
              <span>{{client.estado}}</span>
            </td>
            <td>
              <div class="icon-actions">
                <div (click)="openUpdateForm(client)" title="Abrir tela de edição de cliente">
                  <fa-icon [icon]="faPenToSquare" size="lg"></fa-icon>
                </div>
                <div (click)="delete(client.id)" title="Excluir cliente">
                  <fa-icon class="icon" [icon]="faTrashCan" size="lg"></fa-icon>
                </div>
              </div>

            </td>
          </tr>
        </tbody>
      </table>
      <div class="tabbleFooter">

        <nav class="mt-5">
          <ul class="pagination justify-content-center" style="align-items:center;" >
            <li class="page-item">
              <a class="page-link" style="cursor: pointer;" (click)="previousPage()">Anterior</a>
            </li>
            <li class="page-item" *ngFor="let page of pages">
              <p class="page-link">{{page}}</p>
            </li>
            <li class="page-item">
              <a class="page-link" style="cursor: pointer;" (click)="nextPage()">Proxima</a>
            </li>
          </ul>
        </nav>


      </div>



      <!-- <div class="pagination">
        <span>mostrando 1 - 10 de 45</span>
        <nav>
          <ul>
            <li class="arrows">
            </li>
            <li class="numberSelected">1</li>
            <li class="number">2</li>
            <li class="number">3</li>
            <li class="number">4</li>
            <li class="number">5</li>
            <li class="arrows">
            </li>
          </ul>
        </nav>
      </div> -->
    </div>
  </div>
</div>