<div class="container MT-5">
    <div class="sub-header">
        <h1 class="client">Lojas</h1>
        <button class="btn btn-primary" (click)="openDialogForm()">
            <fa-icon class="icon" [icon]="faCirclePlus" size="lg"></fa-icon>
            Adicionar Loja
        </button>
    </div>
    
    <!-- Divisão superior -->
    <div class="row mt-5">
        <!-- Card do mapa (card lado esquerdo) -->
        <div class="col-8">
            <div class="chart-container px-5 py-4">
                <div class="row">
                    <h3>Lojas</h3>
                    <hr>
                </div>
                <agm-map [latitude]="lat" [longitude]="lng" [zoom]="zoom" [disableDefaultUI]="false">
                    <agm-marker *ngFor="let m of markers; let i = index" [latitude]="m.lat" [longitude]="m.lng"
                        [label]="m.label" [markerDraggable]="m.draggable">
                        <agm-info-window>
                            <strong>
                                <b>Nome: {{m.label}}</b> <br>
                                Endereço: {{m.logradouro}} <br>
                                Cidade/UF: {{m.cidade}}/{{m.estado}}<br>
                            </strong><br />
                        </agm-info-window>
                    </agm-marker>
                </agm-map>
            </div>
        </div>
        <!-- Filtro por localização (card lateral direito) -- Usar gerar informações pro mapa -->
        <div class="col-4 last-order px-5 py-4">
            <h3>Filtre as lojas</h3>
            <hr>
            <mat-form-field appearance="fill">
                <mat-label>Selecione a região</mat-label>
                <mat-select>
                    <mat-option *ngFor="let m of markers" [(ngModel)]="m.estado"
                        (input)="onFilterChange()">{{estado}}</mat-option>
                </mat-select>
            </mat-form-field>
            <mat-form-field appearance="fill">
                <mat-label>Selecione o estado</mat-label>
                <mat-select>
                    <mat-option *ngFor="let m of markers" [(ngModel)]="m.estado"
                        (input)="onFilterChange()">{{estado}}</mat-option>
                </mat-select>
            </mat-form-field>
            <mat-form-field appearance="fill">
                <mat-label>Selecione a cidade</mat-label>
                <mat-select>
                    <mat-option *ngFor="let m of markers" [(ngModel)]="m.cidade"
                        (input)="onFilterChange()">{{cidade}}</mat-option>
                </mat-select>
            </mat-form-field>
            <button class="btn btn-primary" (click)="onFilterChange()">
                <fa-icon class="icon" [icon]="faSearch" size="lg"></fa-icon>
                Pesquisar lojas
            </button>
        </div>
    </div>

    <!-- Tabela com informações completas das lojas -->
    <br /><br />
    <div class="tableContainer">
        <div class="subContainer">
            <table class="table">
                <thead style="font-weight: bold; font-size: 20px;">
                    <tr>
                        <td>Nome</td>
                        <td>Observação</td>
                        <td>Endereço</td>
                        <td>Cidade</td>
                        <td>Estado</td>
                        <td>Ações</td>
                    </tr>
                </thead>
                <tbody *ngFor="let store of stores">
                    <tr>
                        <td>
                            <div>
                                <p class="id-object">{{store.nome}}</p>
                            </div>
                        </td>
                        <td>
                            <span>{{store.observacao}}</span>
                        </td>
                        <td>
                            <span>{{store.logradouro}}, {{store.numero}}</span>
                        </td>
                        <td>
                            <span>{{store.cidade}}</span>
                        </td>
                        <td>
                            <span>{{store.estado}}</span>
                        </td>

                        <div class="icon-actions" style="display: flex;">
                            <div (click)="editStore(store.id)" style="margin-right: 10px;">
                                <fa-icon [icon]="faPenToSquareForm" size="lg"></fa-icon>
                            </div>
                            <div (click)="delete(store.id)">
                                <fa-icon class="icon" [icon]="faTrashCanForm" size="lg"></fa-icon>
                            </div>
                        </div>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
    <div class="tabbleFooter"></div>

    <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyCnIfK7BtTm8MBkfrDMfbRuXI1zWGJoA6c"
        type="text/javascript"></script>

</div>