<div class="container MT-5">
    <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyDBlsGROaSYQvNQYjhM_ZXSLuXh9tfTcYM"
        type="text/javascript"></script>

    <!--Espaço para criar geolocalização das lojas-->
    <div class="row mt-5">
        <div class="col-8">
            <div class="chart-container px-5 py-4">
                <div class="row">
                    <h3>Geolocalização</h3>
                    <p class="text-muted">Localização das lojas no mapa</p>
                    <hr>
                </div>
                <agm-map [latitude]="lat" [longitude]="lng" [zoom]="zoom" [disableDefaultUI]="false" (mapClick)="addMarker($event.coords.lat, $event.coords.lng)">
                    <agm-marker *ngFor="let m of markers; let i = index" (markerClick)="clickedMarker(m.label, i)"
                        [latitude]="m.lat" [longitude]="m.lng" [label]="m.label" [markerDraggable]="m.draggable">
                        <agm-info-window>
                            <strong>
                                <b>Nome: {{m.label}}</b> <br>
                                Latitude: {{m.lat}} <br>
                                Longitude: {{m.lng}} <br>
                            </strong><br />
                            <!-- <strong>Latitude: {{m.lat}}</strong><br />
                                <strong>Longitude: {{m.lng}}</strong> -->
                        </agm-info-window>
                    </agm-marker>
                </agm-map>
            </div>
        </div>

        <!--Card lateral direito - Usar para filtrar as lojas e gerar informações pro mapa -->
        <div class="col-4 last-order px-5 py-4">
            <h3>Cadastre uma loja</h3>
            <hr>
            <div>
                <label for="nome" class="form-label">Nome</label>
                <input type="text" class="form-control">
            </div>
            <div>
                <label for="observacao" class="form-label">Observação</label>
                <input type="text" class="form-control">
            </div>
            <div class="form-group">
                <label for="listagem-estado">Selecione um Estado</label>
                <select class="form-control" id="listagem-estado">
                    <option>Acre</option>
                    <option>Rio de Janeiro</option>
                    <option>São Paulo</option>
                </select>
            </div>
            <div>
                <label for="cep" class="form-label">CEP</label>
                <input type="text" class="form-control">
            </div>
            <div>
                <label for="logradouro" class="form-label">Logradouro</label>
                <input type="text" class="form-control">
            </div>
            <div>
                <label for="bairro" class="form-label">Bairro</label>
                <input type="text" class="form-control">
            </div>
            <div>
                <label for="cidade" class="form-label">Cidade</label>
                <input type="text" class="form-control">
            </div>
            <div>
                <label for="complemento" class="form-label">Complemento</label>
                <input type="text" class="form-control">
            </div>
            
            <!--<div class="dropdown">
                <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton"
                    data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    Selecione o Estado aqui
                </button>
                <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                    <a class="dropdown-item" href="#">Acre</a>
                    <a class="dropdown-item" href="#">Rio de Janeiro</a>
                    <a class="dropdown-item" href="#">São Paulo</a>
                </div>
            </div> -->
            <div>
                <label for="Latitude" class="form-label">Latitude</label>
                <input type="text" class="form-control" [value]="latForm" disabled>
            </div>
            <div>
                <label for="Longitude" class="form-label">Longitude</label>
                <input type="text" class="form-control" [value]="lngForm" disabled>
            </div>

            <div class="row mt-2">
                <button *ngIf="lastOrder" class="btn btn-primary" type="button" routerLink="/orders/{{lastOrder}}">Buscar Lojas</button>
            </div>
        </div>
    </div>
</div>