<div class="container MT-5">
    <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyCnIfK7BtTm8MBkfrDMfbRuXI1zWGJoA6c"
        type="text/javascript"></script>
    <!-- 3 cards superiores - Definir quais serão os usos nessa página -->
    <div class="row gx-5 mx-auto">
        <div class="col-4">
            <div class="row mt-5 p-0 cardd">
                <div class="col-8 ms-3 mt-3">
                    <h4>Total de lojas</h4>
                    <h5>{{orders ? orders.length : 0}}</h5>
                    <span class="text-muted">{{thisYear? thisYear.length-1 : 0}} esse ano</span><br>
                    <span class="text-muted">{{lastYear ? lastYear.length-1 : 0}} ano passado</span>
                </div>
                <div class="col">
                    <div class="quarter-circle-top-right"></div>
                    <div class="row ms-3 mt-3">
                        <svg xmlns="http://www.w3.org/2000/svg" width="48" height="48" fill="#4E4684"
                            class="bi bi-clipboard2-fill" viewBox="0 0 16 16">
                            <path
                                d="M9.5 0a.5.5 0 0 1 .5.5.5.5 0 0 0 .5.5.5.5 0 0 1 .5.5V2a.5.5 0 0 1-.5.5h-5A.5.5 0 0 1 5 2v-.5a.5.5 0 0 1 .5-.5.5.5 0 0 0 .5-.5.5.5 0 0 1 .5-.5h3Z" />
                            <path
                                d="M3.5 1h.585A1.498 1.498 0 0 0 4 1.5V2a1.5 1.5 0 0 0 1.5 1.5h5A1.5 1.5 0 0 0 12 2v-.5c0-.175-.03-.344-.085-.5h.585A1.5 1.5 0 0 1 14 2.5v12a1.5 1.5 0 0 1-1.5 1.5h-9A1.5 1.5 0 0 1 2 14.5v-12A1.5 1.5 0 0 1 3.5 1Z" />
                        </svg>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-4">
            <div class="row mt-5 p-0 cardd">
                <div class="col-8 ms-3 mt-3">
                    <h4>Ver se vai ficar</h4>
                    <h5 class="text-center mt-4">Total de produtos vendidos {{totalOrderProducts?
                        totalOrderProducts.length : 0}}</h5>
                </div>
                <div class="col">
                    <div class="quarter-circle-top-right"></div>
                    <div class="row ms-3 mt-3">
                        <svg xmlns="http://www.w3.org/2000/svg" width="48" height="48" fill="#4E4684"
                            class="bi bi-bag-check-fill" viewBox="0 0 16 16">
                            <path fill-rule="evenodd"
                                d="M10.5 3.5a2.5 2.5 0 0 0-5 0V4h5v-.5zm1 0V4H15v10a2 2 0 0 1-2 2H3a2 2 0 0 1-2-2V4h3.5v-.5a3.5 3.5 0 1 1 7 0zm-.646 5.354a.5.5 0 0 0-.708-.708L7.5 10.793 6.354 9.646a.5.5 0 1 0-.708.708l1.5 1.5a.5.5 0 0 0 .708 0l3-3z" />
                        </svg>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-4">
            <div class="row mt-5 p-0 cardd">
                <div class="col-8 ms-3 mt-3">
                    <h4>Média mensal</h4>
                    <p class="text-muted">Total: {{thisYearRevenue/12 | currency}}</p>
                    <p class="text-muted">Por loja: {{lastYearRevenue/12 | currency}}</p>
                </div>
                <div class="col">
                    <div class="quarter-circle-top-right"></div>
                    <div class="row ms-3 mt-3">
                        <svg xmlns="http://www.w3.org/2000/svg" width="48" height="48" fill="#4E4684"
                            class="bi bi-calendar-event-fill" viewBox="0 0 16 16">
                            <path
                                d="M4 .5a.5.5 0 0 0-1 0V1H2a2 2 0 0 0-2 2v1h16V3a2 2 0 0 0-2-2h-1V.5a.5.5 0 0 0-1 0V1H4V.5zM16 14V5H0v9a2 2 0 0 0 2 2h12a2 2 0 0 0 2-2zm-3.5-7h1a.5.5 0 0 1 .5.5v1a.5.5 0 0 1-.5.5h-1a.5.5 0 0 1-.5-.5v-1a.5.5 0 0 1 .5-.5z" />
                        </svg>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <!--Espaço para criar geolocalização das lojas-->
    <div class="row mt-5">
        <div class="col-8">
            <div class="chart-container px-5 py-4">
                <div class="row">
                    <h3>Lojas</h3>
                    <p class="text-muted">Localização das lojas no mapa</p>
                    <hr>
                </div>
                <agm-map [latitude]="lat" [longitude]="lng" [zoom]="zoom" [disableDefaultUI]="false">
                    <agm-marker *ngFor="let m of markers; let i = index" [latitude]="m.lat" [longitude]="m.lng"
                        [label]="m.label" [markerDraggable]="m.draggable">
                        <agm-info-window>
                            <strong>{{m.label}}</strong><br />
                            Endereço Completo<br />
                            Av Paulista<br />
                            <!-- <strong>Latitude: {{m.lat}}</strong><br />
                                <strong>Longitude: {{m.lng}}</strong> -->
                        </agm-info-window>
                    </agm-marker>
                </agm-map>
            </div>
        </div>

        <!--Card lateral direito - Usar para filtrar as lojas e gerar informações pro mapa -->
        <div class="col-4 last-order px-5 py-4">
            <h3>Encontre uma loja</h3>
            <hr>
            <br />
            <div class="box-body">
                <form>
                    <div class="form-group row align-items-center">
                        <label for="" class="col-sm-4 form-control-label" style="font-size: 20px">Estado:</label>
                        <div class="col-sm-8">
                            <select class="form-control selectpicker" id="select-estado" data-live-search="true">
                                <option data-tokens="acre">Acre</option>
                                <option data-tokens="rio-de-janeiro">Rio de Janeiro</option>
                                <option data-tokens="sao-paulo">São Paulo</option>
                            </select>
                        </div>
                    </div>
                </form>
                <br /><br />
                <form>
                    <div class="form-group row align-items-center">
                        <label for="" class="col-sm-4 form-control-label" style="font-size: 20px">Cidade:</label>
                        <div class="col-sm-8">
                            <select class="form-control selectpicker" id="select-cidade" data-live-search="true">
                                <option data-tokens="itu">Itu</option>
                                <option data-tokens="osasco">Osasco</option>
                                <option data-tokens="sao-paulo">São Paulo</option>
                            </select>
                        </div>
                    </div>
                </form>
                <br /><br />
                <form>
                    <div class="form-group row align-items-center">
                        <label for="" class="col-sm-4 form-control-label" style="font-size: 20px">Bairro:</label>
                        <div class="col-sm-8">
                            <select class="form-control selectpicker" id="select-bairro" data-live-search="true">
                                <option data-tokens="aclimação">Aclimação</option>
                                <option data-tokens="Perdizes">Perdizes</option>
                                <option data-tokens="Santana">Santana</option>
                            </select>
                        </div>
                    </div>
                </form>
            </div>
            <br />
            <div class="row mt-2">
                <button *ngIf="lastOrder" class="btn btn-primary" type="button"
                    routerLink="/orders/{{lastOrder}}">Buscar Lojas</button>
            </div>
        </div>
    </div>
</div>