<div class="container MT-5">
  <div class="sub-header">
    <h1 class="client">Campanhas</h1>
    <button class="btn btn-primary" (click)="openDialogForm()">
      <fa-icon class="icon" [icon]="faCirclePlus" size="lg"></fa-icon>
      Adicionar Campanha
    </button>
  </div>
  <br>
  <br>
  <br>
  <div class="container MT-5">
  </div>
  <div class="subContainer">
    <table class="table">
      <thead>
        <tr>
          <td>Campanha</td>
          <td>Descrição</td>
          <td>Data de Cadastro</td>
          <td>URL//Prateleira</td>
          <td>Ações</td>
        </tr>
      </thead>
      <tbody *ngFor="let product of campanhasLista">
        <tr>
          <td>
            <div>
              <div>
                <p class="id-object">{{product.nome}}</p>
              </div>
            </div>
          </td>
          <td>
            <span class="d-inline-block text-truncate" style="max-width: 150px;">{{product.descricao}}</span>
          </td>
          <td>
            <span>{{product.data | date}}</span>
          </td>
          <td>
            <span>{{campaign.urlFotoPrateleira}}</span>
          </td>
          <td>
            <div class="icon-actions">
              <div (click)="openUpdateForm(product.id)">
                <fa-icon [icon]="faPenToSquare" size="lg"></fa-icon>
              </div>
              <div (click)="deleteCampanha(product.id)">
                <fa-icon class="icon" [icon]="faTrashCan" size="lg"></fa-icon>
              </div>
            </div>

          </td>
        </tr>
      </tbody>
    </table>
  </div>

  <div class="tabbleFooter">
    <!-- <div class="pagination">
        <span>mostrando 1 - 10 de 45</span>
        <nav>
          <ul>
            <li class="arrows">
            </li>
            <li class="numberSelected">1</li>
            <li class="number">2</li>
            <li class="number">3</li>
            <li class="number">4</li>
            <li class="number">5</li>
            <li class="arrows">
            </li>
          </ul>
        </nav>
      </div> -->
  </div>
  <br />
</div>
