.div-drag{
  display: flex;
  justify-content: space-between;
  margin-top: 1rem;
}

.example-container {
  width: 400px;
  max-width: 100%;
  margin: 0 25px 25px 0;
  display: inline-block;
  vertical-align: top;
}


.example-list {
  border: solid 1px #ccc;
  min-height: 60px;
  background: white;
  border-radius: 4px;
  display: flex;
  width: 100%;
  /* overflow: hidden; */
}

.example-box {
  padding: 35px 50px;
  border-bottom: solid 1px #ccc;
  color: rgba(0, 0, 0, 0.87);
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  box-sizing: border-box;
  cursor: move;
  background: white;
  font-size: 14px;
}

.example-box.cdk-drag-disabled {
  background: rgb(252, 80, 80);
  cursor: default;
}

.cdk-drag-preview {
  box-sizing: border-box;
  border-radius: 4px;
  box-shadow: 0 5px 5px -3px rgba(0, 0, 0, 0.2),
              0 8px 10px 1px rgba(0, 0, 0, 0.14),
              0 3px 14px 2px rgba(0, 0, 0, 0.12);
}

.cdk-drag-placeholder {
  opacity: 0;
}

.cdk-drag-animating {
  transition: transform 250ms cubic-bezier(0, 0, 0.2, 1);
}

.example-box:last-child {
  border: none;
}

.example-list.cdk-drop-list-dragging .example-box:not(.cdk-drag-placeholder) {
  transition: transform 250ms cubic-bezier(0, 0, 0.2, 1);
}



.teste{
  display: flex;
  justify-content: space-between;
  gap: 1rem;
  margin-top: 2rem;
}

.prateleiras{
  display: flex;
  flex-direction: column;
  gap: 1rem;
  width: 80%;
}

.example-list-produto {
  border: solid 1px #ccc;
  min-height: 60px;
  background: white;
  border-radius: 4px;
  /* overflow: hidden; */
}

.example-box-produto {
  padding: 20px 10px;
  border-bottom: solid 1px #ccc;
  color: rgba(0, 0, 0, 0.87);
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  box-sizing: border-box;
  cursor: move;
  background: white;
  font-size: 14px;
}

.example-list-produto-deleta {
  border: solid 1px #ccc;
  min-height: 60px;
  background: white;
  border-radius: 4px;
  margin-top: 1rem;
  /* overflow: hidden; */
}

.produtos-e-delete{
}
