<div class="container">
  <form class="row g-3">
    <!-- <div class="form-header">
      <div class="title">
        <h1>Cadastro da campanha12</h1>
      </div>
      <div class="close-button" (click)="closeDialog()">
        <button><a href="#"><fa-icon class="icon" [icon]="faXmark" size="lg"></fa-icon></a></button>
      </div>
    </div>
    <div class="col-md-4 input-box" >
      <label for="nome" class="form-label">Nome</label>
      <input type="text" class="form-control" id="nome" name="nome" [(ngModel)]="campaign.nome" placeholder="Nome da campanha" required>
    </div>
    <div class="col-md-4 input-box">
      <label for="descricao" class="form-label">Descrição</label>
      <input type="text" class="form-control " id="descricao" name="descricao" [(ngModel)]="campaign.descricao" required>
    </div>
    <div class="col-md-4 input-box">
      <label for="data" class="form-label">Data</label>
      <input type="date" class="form-control " id="data" name="data" [(ngModel)]="campaign.data" required>
    </div> -->
    <!-- <div class="col-md-3 input-box">
      <label for="email" class="form-label">Foto Url</label>
      <input type="text" class="form-control " id="cidade" name="cidade" [(ngModel)]="campaign.urlFotoPrateleira" required>
    </div>
    
    <!-- Adicionando prateleira -->
    <app-dragndrop class="dragndrop"></app-dragndrop>
    <div class="col-12 ">
      <button class="btn" type="submit" (click)="create()">Cadastrar</button>
    </div>
  </form>
</div>
