<div class="footer px-0 py-6 bg-gray-25">
    <div class="container mx-auto pl-6 pr-6">
        <div class="flex flex-wrap -ml-4 -mr-4 justify-center lg:justify-start">
            <div class="pl-4 pr-4 block w-full lg:block lg:w-10/12 lg:ml-1/12">
                <div class="flex items-center flex-col justify-center lg:flex-row text-gray-350">
                    <div class="mb-4 lg:mb-0">
                        <div class="text-center lg:mr-2">
                            <a target="_blank" class="underline" href="">Política de privacidade</a>
                        </div>
                    </div>
                </div>

            </div>

        </div>

    </div>
</div>